<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a New Location</h1>
        <form action="/location" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Location Name" required>
                <input class="form-control" type="text" name="address_1" placeholder="Address Line 1" required>
                <input class="form-control" type="text" name="address_2" placeholder="Address Line 2">
                <input class="form-control" type="text" name="city" placeholder="City" required>
                <input class="form-control" type="text" name="state" placeholder="State" required>
                <input class="form-control" type="text" name="zip" placeholder="Zip" required>
                <select class="form-control" name='country'>
                    <option value='US' selected>United States</option>
                    <option value='MX'>Mexico</option>
                    <option value='CA'>Canada</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Add Location</button>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>