<% include partials/header %>

<div class="container">
    <div class="row">

        <h1 style="text-align: center">Welcome to the GNCI iQ Portal</h1>

    </div>
</div>

<% include partials/footer %>