<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">GNCI Site Survey Results Registration</h1>
        <form action="/register" method="GET">
            <div class="form-group">
                <input class="form-control" type="email" name="username" placeholder="you@yourcompany.com">
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block">Verify Customer Status</button>
            </div>
        </form>
    </div>
</div>

<% include partials/footer %>