<% include partials/header %>

<div class="container">
    <div class="row">
            <h1 style="text-align: center">GNCI Site Survey Results Registration</h1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= records[0][6] %>" readonly>
                    <input class="form-control" type="text" name="company" value="<%= records[0][8] %>" readonly>
                    <input class="form-control" type="email" name="username" value="<%= username %>" readonly>
                    <input class="form-control" type="password" name="password" placeholder="Password">
                    <input class="form-control" type="password" name="confirm" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block">Register</button>
                </div>
            </form>
    </div>
</div>

<% include partials/footer %>