<!--***THIS FILE IS NO LONGER BEING USED***-->


<% include partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Search for a Survey</h1>
        <form action="/results" method="GET">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Search Term" name="search">
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-primary btn-block"><strong>Find your survey</strong></button>
            </div>
        </form>
    </div>        
</div>

<% include partials/footer %>